
*.aux

*.bbl

*.bcf

*.blg

*.glg

*.glo

Backbuch.gls

Backbuch.glsdefs

*.idx

*.ilg

*.ind

Backbuch.ist

Backbuch.lof

Backbuch.log

Backbuch.out

*.xml

*.gz

*.tdo

*.gls

*.glsdefs

*.toc

*.ist

*.lof

*.log

*.out

*.pdf

.~lock.Backpreise.ods#
